{
    "road": {
        "home": [
            {
                "pose_x": 1,
                "pose_y": 1
            }
        ],
        "end": [
            {
                "pose_x": 29,
                "pose_y": 29
            }
        ],
        "road": [
            {
                "pose_x": 1,
                "pose_y": 2
            },
            {
                "pose_x": 1,
                "pose_y": 3
            }
        ]
    }
}
